Escopo/.vscode/settings.json
Escopo/Desafio-Contador/.vscode/settings.json
/.metadata/
desafioBancoJava/.settings/org.eclipse.jdt.core.prefs
desafioBancoJava/.settings/org.eclipse.core.resources.prefs
Escopo/Desafio-Candidatos/.settings/org.eclipse.core.resources.prefs
desafioBancoJava/src/module-info.java
